<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teacher1</title>
</head>
<body bgcolor="#c4feff">
    <form action="{% url 'question_generation' %}" method="post">{% csrf_token %}
        <h1>Please enter passage title</h1>
        <textarea required name="title" style="height:10px; width:400px;"></textarea><br>
        <h1>Please enter the passage</h1>
        <textarea required name="passage" style="height:500px; width:400px;"></textarea><br>
        <input type="submit" value="send">
    </form>
</body>
</html>