<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wrong verify</title>
</head>
<body bgcolor="#c4feff">
    <h1>teacher register</h1>
    <form method="get" action="/t_create_account/">
        <h3>account:<input required type="text" name="account" style="width:800px;"></h3>
        <h3>password:<input required type="password" name="password" style="width:800px;"></h3>
        <h3>verify:<input required type="text" name="verify" style="width:800px;"></h3>
        <font color="#FF0000">wrong verify</font>
        <h3><input type="submit" value="register"></h3>
    </form>
</body>
</html>